/* Reset básico */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    min-height: 400px;
    /* asegura espacio para header + imagen */
}


/* Encabezado superior */
.hero-header {
    background-color: #ffffff;
    /* sólido para diferenciar */
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* ya no absolute */
}


.hero-header h1 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
}

/* Navegación */
.hero-header nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
    transition: all 0.5s ease;
    border-radius: 30px;
    padding: 10px 10px;
}

.nav-link:hover {

    letter-spacing: 3px;

    color: #D9A920;
    box-shadow: rgb(217, 169, 32) 0px 7px 29px 0px;
}

.nav-link:active {
    letter-spacing: 3px;
    background-color: rgb(217, 169, 32) 0px 7px 29px 0px;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(217, 169, 32) 0px 7px 29px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

/* Imagen hero */
.hero-image {
    position: relative;
    width: 100%;
    height: auto;
}

.hero-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("src/noise.png");
    /* textura de ruido */
    background-size: cover;
    opacity: 0.25;
    /* intensidad del ruido */
    mix-blend-mode: multiply;
    /* se mezcla con la foto */
    pointer-events: none;
}




/* Overlay con gradiente */
.hero-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    color: #fff;
    text-align: left;
    font-size: 1.3rem;

    /* Fondo semitransparente estilo glass */
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(10px);
    /* soporte Safari */

    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}


.hero-title {
    font-size: 7rem;
    /* aún más grande */
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    color: #fcfcfc;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    text-align: left;
    /* alineado a la izquierda */
}

.hero-text {
    font-size: 1.3rem;
    color: #ffffff;
    text-align: left;
    /* alineado a la izquierda */
    margin: 0;
    width: 100%;
    /* ocupa todo el ancho del bloque */
}



/* Tipografía y cuerpo */
body {
    font-family: Unbounded, Sora, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #dddddd;
    color: #333;
}

main {
    padding: 20px;
    max-width: 1200px;
    /* ancho máximo del contenido */
    margin: 0 auto;
    /* centra todo el bloque */
    box-sizing: border-box;
}

/* From Uiverse.io by gharsh11032000 */

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    ;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.theme-toggle-container {
    display: flex;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* alinea verticalmente */
    margin: 20px 0;
    /* espacio arriba y abajo */
}

.theme-toggle-container #theme-label {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1rem;
}


.switch input:checked+.slider {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border: 2px solid #0974f1;
}

.switch input:checked+.slider:before {
    transform: translateX(1.5em);
}

/* modo oscuro */

/* Texto del switch */
#theme-label {
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}

/* Tema claro (por defecto) */
body.light-mode {
    background-color: #dddddd;
    color: #333;
}

body.light-mode .hero-header {
    background-color: #ffffff;
    color: #030303;
}

body.light-mode .nav-link {
    color: #000000;
}

/* Tema oscuro */
body.dark-mode {
    background-color: #000000;
    color: #f5f5f5;
}

body.dark-mode .hero-header {
    background-color: #000000;
    color: #f5f5f5;
}

body.dark-mode .nav-link {
    color: #f5f5f5;
}

body.dark-mode .content-section {
    background-color: #1e1e1e;
    color: #f5f5f5;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .content-section h2 {
    color: #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
}

body.dark-mode .content-section h3 {
    color: #D9A920;
    border-left: 4px solid #f5f5f5;
}

body.dark-mode footer {
    background-color: #000;
    color: #f5f5f5;
}

body.dark-mode .content-section blockquote {
    background-color: #474747;
    color: #f5f5f5;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .tabla-estadisticas th,
body.dark-mode .tabla-estadisticas td {
    background-color: #333;
    color: #f5f5f5;
}

/* Secciones de contenido */

.content-section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    max-width: 1000px;
    /* ancho máximo de cada sección */
    margin-left: auto;
    /* margen automático para centrar */
    margin-right: auto;
}

.content-section:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #fdfdfd;
}


.content-section h2 {
    color: #000000;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

.content-section h3 {
    color: #D9A920;
    /* dorado para destacar */
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    border-left: 4px solid #000;
    padding-left: 10px;
}


.content-section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 15px auto;
    display: block;
}


/* Bloques de historia con texto e imagen */

.historia-contenido {
    display: flex;
    align-items: center;
    /* alinea arriba */
    gap: 20px;
    /* espacio entre texto e imagen */
}

.historia-texto {
    flex: 2;
    /* ocupa más espacio */
}

.doble-imagen {
    display: flex;
    gap: 19px;
    /* espacio entre las dos imágenes */
    justify-content: center;
    /* centra las imágenes en el bloque */
    width: 100%;
}

.doble-imagen figure {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doble-imagen img {
    width: 100%;
    /* cada imagen ocupa casi la mitad del bloque */
    height: auto;
    max-width: 500px;
    /* limita el tamaño máximo para pantallas pequeñas */
    border-radius: 5px;
}

.doble-imagen figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

.historia-imagen {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.historia-imagen img {
    width: 100%;
    max-width: 700px;
    padding: 0%;
    height: auto;
    border-radius: 5px;
}

.historia-imagen figcaption {
    width: 100%;
    padding: 0%;
    margin-top: 10px;
    font-size: 0.75rem;
    color: #555;
    text-align: center;
    line-height: 1.4;
}

/* Citas destacadas */

blockquote {
    font-style: italic;
    color: #555;
    border-left: 4px solid #D9A920;
    padding-left: 15px;
    margin: 20px 0;
    background-color: #f9f9f9;
}

/* Pie de página */

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
}

/* Tabla de estadísticas */

.tabla-estadisticas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
}

.tabla-estadisticas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
}

.tabla-estadisticas th,
.tabla-estadisticas td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tabla-estadisticas th {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}

.tabla-estadisticas tr:nth-child(even) {
    background-color: #f9f9f9;
}

.fuente-datos {
    font-size: 0.8rem;
    color: #555;
    margin-top: 5px;
    text-align: center;
}

/* Botón hamburguesa */
.hamburger {
    display: none;
    /* oculto en escritorio */
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

/* Menú de navegación por defecto */
.nav-menu {
    display: flex;
    gap: 20px;
}

#voice-toggle {
    background-color: #0974f1;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px auto;
    display: block;
}

#voice-toggle:hover {
    background-color: #055bb5;
}








/* Estilos móviles */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        /* visible en móviles */
    }

    .nav-menu {
        display: none;
        /* oculto inicialmente */
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
        border-radius: 8px;
    }

    .nav-menu.active {
        display: flex;
        /* aparece al hacer click */
    }

    .nav-link {
        padding: 10px;
        text-align: center;
        color: #fff;
    }

    .nav-link:hover {
        background-color: #333;
    }

    .hero-header {
        flex-direction: column;
        text-align: center;
    }

    .hero-header nav {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .historia-contenido {
        flex-direction: column;
        /* apila texto e imagen */
    }


    .hero-title {
        font-size: 3rem;
        /* más pequeño en móviles */
    }

    .tabla-estadisticas {
        font-size: 0.8rem;
    }

    .content-section {
        padding: 10px;
    }






}